In [26]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

# Configurações do banco de dados
db_config = {
    "host": "localhost",
    "port": "5433",  # Porta padrão do PostgreSQL
    "database": "odoo",
    "user": "odoo",
    "password": "odoo"
}

# Consulta SQL
dProducts = '''

select 

id as "idProducts",
UPPER(name ->>'pt_BR') as "ProductDescription"

from product_template pt;

'''

dLoss = '''


select 

id as "idLoss",
UPPER(name ->>'pt_BR') as "LossDescription"

from crm_lost_reason;


'''


dContacts = '''

select 

id as "idContacts",
UPPER(name) as "Name",
UPPER(street) as "Adress", 
UPPER(city) as "City",
UPPER(replace(split_part(tz,'/',2),'_',' ')) as "State"

from res_partner rp;

'''

dStates = '''

select 

id as idStates,
UPPER(name ->>'pt_BR') as "StatesDescription" 

from crm_stage cs;

'''

fPipelineCRM = '''


select 

cl.id as idCrm,
cl.date_open::date as DateOpen,
cl.partner_id as idContacts,
cl.stage_id as idStage,
cl.priority as idPriority,
cl.date_closed::date as DateClosed,
cl.lost_reason_id as idLoss,
cl.description as Interest,
so.currency_rate as qtd_peoople,
so.amount_total as value


from crm_lead cl 

left join sale_order so
on so.opportunity_id = cl.id;


'''


try:
    # Conexão com o banco
    with psycopg2.connect(**db_config) as conn:
        # Cria o DataFrame a partir da consulta
        df = pd.read_sql_query(dStates, conn)
    print("Consulta realizada com sucesso!")
except Exception as e:
    print("Erro ao realizar a consulta:", e)


db_user = "postgres"
db_password = "admin"
db_host = "localhost"  # ou o IP do servidor
db_port = "5434"  # porta padrão do PostgreSQL
db_name = "dw-gym"

engine = create_engine(f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

df.to_sql("dStates", con=engine, if_exists="replace", index=False)

Consulta realizada com sucesso!

/tmp/ipykernel_8074/1584671551.py:95: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(dStates, conn)

4

In [11]:
d = {'idStates': [1, 2, 3], 'StatesDescription': ["Baixa", "Média", "Alta"]}

dStates = pd.DataFrame(data=d)

dStates

   idStates StatesDescription
0         1             Baixa
1         2             Média
2         3              Alta

In [15]:
import pandas as pd

# Lista de datas
datas = pd.date_range(start="2024-01-01", end="2024-12-31")

# Criar DataFrame
calendario = pd.DataFrame({
    "Data": datas,
    "Ano": datas.year,
    "Mês": datas.month,
    "Nome do Mês": datas.strftime("%b").str.capitalize(),  # Nome do mês (três caracteres, com inicial maiúscula)
    "Trimestre": datas.quarter.map(lambda x: f"T{x}"),
    "Dia": datas.day,
    "Dia da Semana": datas.strftime("%A").str.capitalize()  # Nome do dia em português
})

# Exibir a tabela
print(calendario.head())

        Data   Ano  Mês Nome do Mês Trimestre  Dia Dia da Semana
0 2024-01-01  2024    1         Jan        T1    1        Monday
1 2024-01-02  2024    1         Jan        T1    2       Tuesday
2 2024-01-03  2024    1         Jan        T1    3     Wednesday
3 2024-01-04  2024    1         Jan        T1    4      Thursday
4 2024-01-05  2024    1         Jan        T1    5        Friday

555